* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Fjalla One', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

p {
    font-family: 'Average', serif;
    font-size: 120%;
}
.page-header { margin: 10px 0 30px; }


.page-header h1 {
  font-size: 42px;
  letter-spacing: -1.75px;
  line-height: 1;
  font-weight: 300;
}

.page-header h2 {
  font-size: 32px;
  line-height: 1;
  font-weight: 300;
}

.row ul,
.row ol {
    font-family: 'Average', serif;
    font-size: 120%;
    padding-left: 20px;
    line-height: 2; }

.row ol > p {
    font-size: 80%;
}